<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.reminder">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name="org.litepal.LitePalApplication"
        android:allowBackup="true"
        android:icon="@drawable/note"
        android:label="@string/app_name"
        android:roundIcon="@drawable/note"
        android:supportsRtl="true"
        android:theme="@style/Theme.Draft2"
        android:usesCleartextTraffic="true">
        <activity android:name=".activities_fragments.studyHandle.ClockActivity"></activity>
        <activity android:name=".activities_fragments.studyHandle.StudyActivity" />
        <activity android:name=".activities_fragments.mineHandle.RegisterActivity" />

        <service
            android:name=".service.MasterService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".MainActivity"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- <activity android:name=".activities_fragements.loadActivity.LoadActivity"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.intent.action.MAIN" /> -->
        <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
        <!-- </intent-filter> -->
        <!-- </activity> -->
        <activity android:name=".text.TestActivity">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity android:name=".activities_fragments.planHandle.informActivity">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".activities_fragments.mineHandle.loginActivity">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>